In [1]:
import pandas as pd

In [2]:
original_df = pd.read_csv('./data/anime.csv')
original_df.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170,182126,131625,62330,20688,8904,3184,1357,741,1580
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,1-Sep-01,Unknown,...,30043,49201,49505,22632,5805,1877,577,221,109,379
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229,75651,86142,49432,15376,5838,1965,664,316,533
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182,4806,10128,11618,5709,2920,1083,353,164,131
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312,529,1242,1713,1068,634,265,83,50,27

In [3]:
anime_names_df = pd.read_csv('./data/anime_filtered.csv')
anime_names_df = anime_names_df[['title', 'image_url']]
print(anime_names_df.shape)
anime_names_df.head()

(14474, 2)

                 title                                          image_url
0        Inu x Boku SS  https://myanimelist.cdn-dena.com/images/anime/...
1     Seto no Hanayome  https://myanimelist.cdn-dena.com/images/anime/...
2   Shugo Chara!! Doki  https://myanimelist.cdn-dena.com/images/anime/...
3        Princess Tutu  https://myanimelist.cdn-dena.com/images/anime/...
4  Bakuman. 3rd Season  https://myanimelist.cdn-dena.com/images/anime/...

In [4]:
# Filter the DataFrame to keep only the rows in anime_names_df that have matching anime names in original_df
filtered_anime_names_df = anime_names_df.merge(original_df[['Name']], left_on='title', right_on='Name', how='inner')
filtered_anime_names_df = filtered_anime_names_df.drop(columns=['Name'])

# Remove rows where image url is missing
filtered_anime_names_df = filtered_anime_names_df.dropna(subset=['image_url'])

# Display the sorted DataFrame
print(filtered_anime_names_df.shape)
filtered_anime_names_df.head()

(13491, 2)

                 title                                          image_url
0        Inu x Boku SS  https://myanimelist.cdn-dena.com/images/anime/...
1     Seto no Hanayome  https://myanimelist.cdn-dena.com/images/anime/...
2   Shugo Chara!! Doki  https://myanimelist.cdn-dena.com/images/anime/...
3        Princess Tutu  https://myanimelist.cdn-dena.com/images/anime/...
4  Bakuman. 3rd Season  https://myanimelist.cdn-dena.com/images/anime/...

In [5]:
# Remove the commas from the anime names
filtered_anime_names_df['title'] = filtered_anime_names_df['title'].str.replace(',', '')

In [6]:
filtered_anime_names_df.to_csv('./data/anime_names.csv', sep=',', index=False)